.content {
    background-color: #747474;
}


/* Hide the navbar background */
.navbar {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

/* Style the nav buttons to be oval-shaped */
.navbar .nav-link {
    padding: 4px 10px; /* Reduced padding for a thinner appearance */
    border-radius: 25px; /* Adjusted radius for a more oval shape */
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid #fff;
    color: #fff;
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(5px)
}

/* Hover effect to make the buttons look more interactive */
.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid #fff;
    color: #fff;
}

/* Active nav link style */
.navbar-nav .nav-link.active {
    border: 2px solid #000000;
    color: #fff !important;
}


/* Style for the navbar brand */
.navbar .navbar-brand {
    font-size: 1.5rem; /* Increased font size for prominence */
    font-weight: bold; /* Bold font weight */
    color: #fff; /* White color for text */
    transition: color 0.3s ease-in-out; /* Smooth color transition */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Subtle shadow for depth */
}

/* Hover effect for the navbar brand */
.navbar .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8); /* Lighter color on hover */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1); /* Darker shadow on hover for contrast */
    background-color: rgba(110, 110, 110, 0.2); /* Light background on hover */
    border-radius: 5px; /* Slightly round corners */
    padding: 4px 10px; 
}

#intro-section {
    height: 100vh; /* Full viewport height */
    background-color: #333;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure no overflow from intro */
}

#intro-section .fixed-top{
    top: 100px;
}

.text-content {
    z-index: 2;
    color: #afafaf;
}

.text-content h1 {
    font-size: 6rem; /* Larger text size */
    font-weight: bold;
    line-height: 1.2;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 1);
}

.text-content p {
    font-size: 2rem; /* Larger paragraph text */
    margin-bottom: 1.5rem;
}

.potrait {
    max-width: 500px;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    transform: translateX(30px); /* Offset image slightly */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
}

#intro-section .container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

#intro-section .col-lg-6 {
    flex: 1;
}

a.btn-primary {
    font-size: 1.2rem; /* Make button text larger */
    padding: 1rem 2rem;
}


#projects {
    position: relative;
    z-index: 1;
    background-color: #8b8b8bab;
    padding: 150px 0;
    box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px)
}


.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


.carousel ul {
    list-style-type: none;
}

/* Ensure all images have the same size */
.carousel-image {
    height: 75vh; /* Set the desired height */
    object-fit: cover; /* Ensures the image covers the container without distortion */
    filter: blur(3px) brightness(60%); /* Soft blur and darkening effect */
}

.carousel-caption h5, .carousel-caption p {
    font-size: 1.8rem; /* Increase text size */
    color: #ffffff; /* Ensure text is white */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Make text stand out with shadow */
}

.carousel-caption .btn {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.2); /* Transparent button */
    border-color: white; /* White outline */
    color: white; /* Button text color */
}

/* Hover effect for buttons */
.carousel-caption .btn:hover {
    background-color: rgba(255, 255, 255, 0.4); /* Lighten background on hover */
    color: white;
    border-color: white;
}


.contact-container {
    padding-top: 50px;
}


/* Invisible container to create space for the footer */
.footer-spacer {
    height: 30vh; /* Same height as the footer */
}

/* Footer */
.footer {
    margin-top: 30px;
    position: relative;
    z-index: 0;
}

.footer .container-fluid {
background-color: #fffdf8;
padding-top: 50px;
}

.footer h2 {
    font-size: 24px;
    font-weight: 700;
}

.footer .portrait {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 2px solid #007bff;
    margin-bottom: 10px;
}

.footer .footer-buttons a {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

.footer p {
    margin: 0;
    color: #6c757d;
}

.footer {
    bottom: 0;
}


/* General styles */
.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

h2.section-subtitle {
    font-size: 28px;
    color: #fff;
    margin-bottom: 20px;
    position: relative;
}

h2.section-subtitle::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #333;
    position: absolute;
    left: 0;
    bottom: -10px;
}

.section-text {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

/* Adding subtle transitions and hover effects */
.section-text {
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.about-spacer {
    height: 30vh; /* Same height as the footer */
}

#about-intro-section {
    height: 100vh; /* Full viewport height */
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure no overflow from intro */
}

#about-intro-section .text-content{
    color: #fff;
    height: 80vh;
}

.about-section {
    position: relative;
    background-color: #333;
    z-index: 2;
}

.about-container {
    height: 80vh;
    position: relative;
    background-color: #8b8b8bab;
    z-index: 2;
    backdrop-filter: blur(10px);
    color: #fff;
}

.about-potrait {
    max-width: 400px;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    transform: translateX(30px);
    transform: translatey(30px); /* Offset image slightly */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
}

.fixed-image {
    position: fixed;
    top: 35px;
    right: 20%;
}


/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .text-content h1 {
        font-size: 3rem; /* Adjust text size for smaller screens */
    }

    .text-content p {
        font-size: 1.5rem;
    }

    h1.section-title {
        font-size: 28px;
    }

    h2.section-subtitle {
        font-size: 22px;
    }

    .section-text {
        font-size: 16px;
    }

    .potrait {
        transform: translateX(0); /* Remove offset on smaller screens */
        width: 70%;
    }

    .about-potrait {
        transform: translateX(0);
        transform: translatey(20px);
        width: 60%;
    }

    .carousel-caption h5, .carousel-caption p {
        font-size: 1.5rem;
    }

    #about-intro-section .text-content h1 {
        position: absolute;
        top: 50%;
        right: 25%;
        text-align: center !important;
    }

    .about-container {
        height: 100%;
    }
    
    .contact-container {
        min-height: 100vh; /* Take up the full viewport height */
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center; /* Center form vertically */
        padding-top: 0;
        z-index: 2;
        background-color: #333;
    }

    .footer .col-md-6, .footer .col-md-3 {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-spacer {
        height: 55vh; /* Same height as the footer */
    }

    .footer .portrait {
        width: 40%;
        height: auto;
    }

}
